@import url(../css/fonts.css);
h2 {
  font-family: 'PlayfairDisplayBold', Helvetica, Arial, sans-serif;
  font-size: 22px; }

#mainNav {
  text-transform: uppercase;
  font-family: 'RobotoBlack', Helvetica, Arial, sans-serif;
  font-size: 13px;
  position: absolute; }
  #mainNav .navbar-brand {
    width: 100%;
    max-width: 130px;
    outline: none; }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #fff;
    background-color: transparent;
    padding: 10px; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
      color: #00e0d0; }
  #mainNav .navbar-nav > li.nav-item.active > a.nav-link {
    color: #00e0d0; }
  @media (max-width: 992px) {
    #mainNav .navbar-nav > li.nav-item > a.nav-link,
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
      color: #fff;
      background-color: #2b1a57;
      padding-left: 15px; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
      #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
        color: #00e0d0; } }

#home .banner {
  position: relative; }
  #home .banner img {
    width: 100%; }
  #home .banner .header_content {
    position: absolute;
    bottom: 207px;
    text-align: center; }
    #home .banner .header_content h1 {
      text-align: center;
      font-family: 'PlayfairDisplayBlack',Helvetica, Arial, sans-serif;
      font-size: 32px;
      color: #fff;
      margin-bottom: 25px; }
    #home .banner .header_content .line {
      margin: auto;
      border-bottom: solid 1px #00e0d0;
      width: 50px; }
    #home .banner .header_content p {
      text-align: center;
      font-family: 'RobotoLight', Helvetica, Arial, sans-serif;
      color: #fff;
      font-size: 14px;
      margin-top: 25px;
      margin-bottom: 60px; }
    #home .banner .header_content a {
      text-decoration: none;
      font-family: 'HammersmithOneRegular', Helvetica, Arial, sans-serif;
      font-size: 16px;
      color: #00e0d0;
      text-transform: uppercase;
      border: solid 1px #00e0d0;
      padding: 14px; }
  #home .banner:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(43, 26, 87, 0.85); }

.owl-carousel .owl-nav {
  display: none; }
.owl-carousel .owl-dots {
  position: absolute;
  bottom: 70px;
  left: 48%; }
.owl-carousel button.owl-dot {
  background-color: transparent;
  width: 10px;
  height: 10px;
  border: solid 1px white;
  border-radius: 6px;
  margin-right: 5px; }
  .owl-carousel button.owl-dot.active {
    background-color: #00e0d0;
    border: #00e0d0; }
@media (max-width: 992px) {
  .owl-carousel .owl-dots {
    bottom: 40px; } }
@media (max-width: 768px) {
  .owl-carousel .owl-dots {
    bottom: 20px; } }

#about {
  background-color: white;
  padding-top: 70px;
  padding-bottom: 70px; }
  #about h2 {
    color: #413d4b;
    margin-bottom: 19px; }
  #about p {
    color: #716e78;
    font-family: 'RobotoLight', sans-serif;
    font-size: 14px;
    line-height: 22px;
    margin-top: 22px; }
  #about a {
    text-decoration: none;
    font-family: 'HammersmithOneRegular', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #00e0d0;
    text-transform: uppercase;
    border: solid 1px #00e0d0;
    padding: 14px;
    margin-top: 70px; }

#expertise {
  padding-bottom: 68px; }
  #expertise h2 {
    color: #413d4b; }
  #expertise span {
    display: block;
    font-family: 'PlayfairDisplayRegular', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #636268;
    margin-top: 15px;
    margin-bottom: 15px; }
  #expertise .line {
    border-bottom: solid 3px #c6c4c9;
    width: 50px;
    margin: 0 auto 15px; }
  #expertise .icon {
    padding-top: 36px;
    padding-bottom: 36px; }
    #expertise .icon:first-child {
      border-bottom: solid 1px #ebebeb;
      border-right: solid 1px #ebebeb; }
    #expertise .icon:nth-child(2) {
      border-bottom: solid 1px #ebebeb; }
    #expertise .icon:nth-child(3) {
      border-bottom: solid 1px #ebebeb;
      border-left: solid 1px #ebebeb; }
    #expertise .icon:nth-child(4) {
      border-right: solid 1px #ebebeb; }
    #expertise .icon:nth-child(5) {
      border-right: solid 1px #ebebeb; }
    @media (max-width: 768px) {
      #expertise .icon:nth-child(3) {
        border-bottom: solid 1px #ebebeb;
        border-right: solid 1px #ebebeb;
        border-left: none; }
      #expertise .icon:nth-child(4) {
        border-bottom: solid 1px #ebebeb;
        border-right: none; }
      #expertise .icon:nth-child(5) {
        border-right: solid 1px #ebebeb; } }
    #expertise .icon img {
      display: block;
      height: 50px;
      margin: auto; }
    #expertise .icon h3 {
      font-family: 'RobotoBlack', Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #413d4b;
      margin-top: 36px; }
    #expertise .icon p {
      font-family: 'RobotoLight', Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #666666;
      margin-bottom: 0; }

#teams {
  background-image: url("../img/team.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 69px;
  padding-bottom: 69px;
  text-align: center; }
  #teams h2 {
    font-family: 'PlayfairDisplayBold', Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: #fff; }
  #teams span {
    display: block;
    font-family: 'PlayfairDisplayRegular', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #f9f9f9;
    margin-top: 10px;
    margin-bottom: 15px; }
  #teams .line {
    width: 50px;
    border-bottom: solid 2px #655d80;
    margin: 0 auto 17px; }
  #teams .photo {
    width: 255px;
    height: 260px;
    overflow: hidden;
    background-color: white;
    display: inline-block; }
    @media (max-width: 992px) {
      #teams .photo {
        width: 220px;
        height: 229px; } }
    #teams .photo img {
      display: block;
      width: 100%; }
  #teams h3 {
    font-family: "RobotoBlack", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 58px;
    padding-top: 16px;
    padding-bottom: 18px;
    border: solid 1px #655d80; }
    #teams h3 span {
      font-family: 'RobotoLight', Helvetica, Arial, sans-serif;
      font-size: 13px;
      color: #f9f9f9; }
  #teams .appeal span {
    color: #f3f3f3;
    font-family: 'RobotoLight', Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 35px; }
  #teams .appeal a {
    text-decoration: none;
    font-family: 'HammersmithOneRegular', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #00e0d0;
    text-transform: uppercase;
    border: solid 1px #00e0d0;
    padding: 14px; }

#works {
  padding-top: 68px;
  padding-bottom: 70px; }
  #works h2 {
    font-family: 'PlayfairDisplayBold', Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: #413d4b;
    text-transform: uppercase;
    margin-bottom: 69px; }
  #works a {
    font-family: 'RobotoLight', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #413d4b;
    text-decoration: none; }
  #works .portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto; }
  #works .btn {
    padding-top: 70px;
    margin: auto; }
    #works .btn a {
      text-decoration: none;
      font-family: 'HammersmithOneRegular', Helvetica, Arial, sans-serif;
      font-size: 16px;
      color: #00e0d0;
      text-transform: uppercase;
      border: solid 1px #00e0d0;
      padding: 14px; }

#people_say {
  background-image: url("../img/BACKGROUND.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 69px;
  padding-bottom: 182px; }
  #people_say .quotes {
    font-family: 'PlayfairDisplayRegular', Helvetica, Arial, sans-serif;
    font-size: 100px;
    color: #ebebeb;
    line-height: 22px; }
  #people_say p {
    font-family: 'PlayfairDisplayRegular', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #f9f9f9;
    line-height: 26px; }
  #people_say .author {
    font-family: "RobotoBlack", Helvetica, Arial,sans-serif;
    font-size: 14px;
    text-transform: uppercase; }
    #people_say .author span {
      display: block;
      font-family: 'RobotoLight', Helvetica, Arial, sans-serif;
      font-size: 13px; }

#Massage {
  padding-top: 70px;
  padding-bottom: 70px; }
  #Massage h2 {
    font-family: 'PlayfairDisplayBold', Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: #413d4b;
    margin-bottom: 35px; }
  #Massage button {
    text-decoration: none;
    font-family: 'HammersmithOneRegular', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #00e0d0;
    text-transform: uppercase;
    border: solid 1px #00e0d0;
    padding: 14px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: white; }

footer {
  background-image: url("../img/footer.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 70px;
  padding-bottom: 70px; }
  footer .left-block {
    margin-top: 27px; }
  footer p {
    font-family: 'RobotoLight', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #fff; }
  footer h4 {
    font-family: 'PlayfairDisplayRegular', Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin-bottom: 39px;
    margin-top: 20px;
    color: #fff; }
  footer .icon-map:before {
    content: "\f3c5";
    font-family: 'Font Awesome 5 Free';
    margin-right: 15px;
    font-weight: 900;
    font-size: 19px; }
  footer .icon-phone:before {
    content: "\f095";
    font-family: 'Font Awesome 5 Free';
    margin-right: 10px;
    font-weight: 900;
    font-size: 17px; }
  footer .form-control {
    background: transparent;
    border-radius: 0;
    font-size: 14px;
    width: 500px; }
  footer .btn {
    padding-left: 21px;
    padding-right: 21px;
    margin-left: 10px;
    border-radius: 0; }
  footer .social_icons {
    font-size: 15px;
    line-height: 35px;
    color: white; }
    footer .social_icons i {
      border: solid 1px white;
      padding: 9px;
      border-radius: 100%;
      margin-top: 27px;
      margin-right: 8px; }
      footer .social_icons i:first-child {
        padding-left: 13px;
        padding-right: 13px; }
      footer .social_icons i:nth-child(5) {
        padding-left: 6px; }
  footer .terms\&conditions {
    padding-top: 70px; }
    footer .terms\&conditions a {
      text-decoration: none;
      text-transform: uppercase;
      font-family: 'PlayfairDisplayRegular', Helvetica , Arial, sans-serif;
      font-size: 14px;
      color: #fff;
      margin-right: 32px; }
    footer .terms\&conditions p {
      font-family: 'PlayfairDisplayRegular', Helvetica , Arial, sans-serif;
      font-size: 14px;
      color: #fff; }

/*# sourceMappingURL=style.css.map */
