@import url(../css/fonts.css);

$white: #fff;
$bgcolor: #2b1a57;
$black: #000;
$primary: #00e0d0;
$textcolor-1: #413d4b;
$textcolor-2: #716e78;
$textcolor-3: #636268;
$textcolor-4: #c6c4c9;
$textcolor-5: #666666;
$textcolor-6: #ebebeb;
$textcolor-7: #f9f9f9;
$linecolor: #655d80;

$caption: 'PlayfairDisplayBold', Helvetica, Arial, sans-serif;

@mixin transition-all() {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@mixin color-over-picture() {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: fade-out($bgcolor,.15);
}
@mixin btn(){
  text-decoration: none;
  font-family: 'HammersmithOneRegular', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: $primary;
  text-transform: uppercase;
  border: solid 1px $primary;
  padding: 14px;
}

h2 {
  font-family: 'PlayfairDisplayBold', Helvetica, Arial, sans-serif;
  font-size: 22px;
}
// Styling for the navigation

#mainNav {
  text-transform: uppercase;
  font-family:'RobotoBlack', Helvetica, Arial, sans-serif;
  font-size: 13px;
  position: absolute;
  .navbar-brand {
    width: 100%;
    max-width: 130px;
    outline: none;
  }
  .navbar-nav {
    > li.nav-item {
      > a.nav-link,
      > a.nav-link:focus {
        color: $white;
        background-color: transparent;
        padding: 10px;
        &:hover {
          color: $primary;
        }
      }
      &.active {
        > a.nav-link {
          color: $primary;
        }
      }
    }
  }
  @media (max-width: 992px) {
    .navbar-nav {
      > li.nav-item {
        > a.nav-link,
        > a.nav-link:focus {
          color: $white;
          background-color: $bgcolor;
          padding-left: 15px;
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}

// Styling for the home

#home {
  .banner {
    position: relative;
    img {
      width: 100%;
    }
    .header_content {
      position: absolute;
      bottom: 207px;
      text-align: center;
      h1 {
        text-align: center;
        font-family: 'PlayfairDisplayBlack',Helvetica, Arial, sans-serif;
        font-size: 32px;
        color: $white;
        margin-bottom: 25px;
      }
      .line {
        margin: auto;
        border-bottom: solid 1px $primary;
        width: 50px;
      }
      p {
        text-align: center;
        font-family: 'RobotoLight', Helvetica, Arial, sans-serif;
        color: $white;
        font-size: 14px;
        margin-top: 25px;
        margin-bottom: 60px;
      }
      a {
        @include btn;
      }
    }
    &:before {
      @include color-over-picture;
    }
  }
}


.owl-carousel {
  .owl-nav {
    display: none;
  }
  .owl-dots {
    position: absolute;
    bottom: 70px;
    left: 48%;
  }
  button.owl-dot {
    background-color: transparent;
    width: 10px;
    height: 10px;
    border: solid 1px white;
    border-radius: 6px;
    margin-right: 5px;
    &.active {
      background-color: $primary;
      border: $primary;
    }
  }
  @media (max-width: 992px) {
    .owl-dots {
      bottom: 40px;
    }
  }
  @media (max-width: 768px) {
    .owl-dots {
      bottom: 20px;
    }
  }
}

  // Styling for the about
  #about {
    background-color: white;
    padding-top: 70px;
    padding-bottom: 70px;
    h2 {
      color: $textcolor-1;
      margin-bottom: 19px;
    }
    p {
      color: $textcolor-2;
      font-family: 'RobotoLight', sans-serif;
      font-size: 14px;
      line-height: 22px;
      margin-top: 22px;
    }
    a {
      @include btn;
      margin-top: 70px;
    }
  }
  // Styling for the expertise
  #expertise {
    padding-bottom: 68px;
    h2 {
      color: $textcolor-1;
    }
    span {
      display: block;
      font-family: 'PlayfairDisplayRegular', Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: $textcolor-3;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .line {
      border-bottom: solid 3px $textcolor-4;
      width: 50px;
      margin: 0 auto 15px;
    }
    .icon {
      padding-top: 36px;
      padding-bottom: 36px;
      &:first-child {
        border-bottom: solid 1px $textcolor-6;
        border-right: solid 1px $textcolor-6;
      }
      &:nth-child(2) {
        border-bottom: solid 1px $textcolor-6;
      }
      &:nth-child(3) {
        border-bottom: solid 1px $textcolor-6;
        border-left: solid 1px $textcolor-6;
      }
      &:nth-child(4) {
        border-right: solid 1px $textcolor-6;
      }
      &:nth-child(5) {
        border-right: solid 1px $textcolor-6;
      }
      @media (max-width: 768px) {
        &:nth-child(3) {
          border-bottom: solid 1px $textcolor-6;
          border-right: solid 1px $textcolor-6;
          border-left: none;
        }
        &:nth-child(4) {
          border-bottom: solid 1px $textcolor-6;
          border-right: none;
        }
        &:nth-child(5) {
          border-right: solid 1px $textcolor-6;
        }
      }
      img {
        display: block;
        height: 50px;
        margin: auto;

      }
      h3 {
        font-family: 'RobotoBlack', Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: $textcolor-1;
        margin-top: 36px;
      }
      p {
        font-family: 'RobotoLight', Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: $textcolor-5;
        margin-bottom: 0;
      }
    }
  }
// Styling for the team section
#teams{
  background-image: url("../img/team.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 69px;
  padding-bottom: 69px;
  text-align: center;
  h2 {
    font-family: 'PlayfairDisplayBold', Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: $white;
  }
  span {
    display: block;
    font-family: 'PlayfairDisplayRegular', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: $textcolor-7;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .line{
    width: 50px;
    border-bottom: solid 2px $linecolor;
    margin:0 auto 17px;
  }
  .photo {
    width: 255px;
    height: 260px;
    overflow: hidden;
    background-color: white;
    display: inline-block;
    @media (max-width: 992px) {
      & {
        width: 220px;
        height: 229px;
      }
    }
    img {
      display: block;
      width: 100%}
    }


  h3{
    font-family:"RobotoBlack", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: $white;
    text-transform: uppercase;
    margin-bottom: 58px;
    padding-top: 16px;
    padding-bottom: 18px;
    border: solid 1px $linecolor;
    span {
      font-family: 'RobotoLight', Helvetica, Arial, sans-serif;
      font-size: 13px;
      color: $textcolor-7;
    }
  }
  .appeal {
    span {
      color: #f3f3f3;
      font-family: 'RobotoLight', Helvetica, Arial, sans-serif;
      font-size: 14px;
      margin-bottom: 35px;
    }
    a {
      @include btn;
    }
  }


}

// Styling for the works section
#works {
  padding-top: 68px;
  padding-bottom: 70px;
  h2 {
    font-family: 'PlayfairDisplayBold', Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: $textcolor-1;
    text-transform: uppercase;
    margin-bottom: 69px;
  }
  a {
    font-family: 'RobotoLight', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: $textcolor-1;
    text-decoration: none;
  }
  .portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
  }
  .btn {
    padding-top: 70px;
    margin: auto;
    a {
      @include btn;
    }
  }
}
// Styling for the people_say section
#people_say {
  background-image: url("../img/BACKGROUND.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 69px;
  padding-bottom: 182px;
  .quotes {
    font-family: 'PlayfairDisplayRegular', Helvetica, Arial, sans-serif;
    font-size: 100px;
    color: $textcolor-6;
    line-height: 22px;
  }
  p {
    font-family: 'PlayfairDisplayRegular', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: $textcolor-7;
    line-height: 26px;
  }
  .author {
    font-family: "RobotoBlack", Helvetica, Arial,sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    span {
      display: block;
      font-family: 'RobotoLight', Helvetica, Arial, sans-serif;
      font-size: 13px;
    }
  }
}
// Styling for the form-massage section

#Massage {
  padding-top: 70px;
  padding-bottom: 70px;
  h2 {
    font-family: 'PlayfairDisplayBold', Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: $textcolor-1;
    margin-bottom: 35px;
  }
  button {
    @include btn;
    padding-left: 32px;
    padding-right: 32px;
    background-color: white;
  }
}

// Styling for the footer

footer {
  background-image: url("../img/footer.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 70px;
  padding-bottom: 70px;
  .left-block {
    margin-top: 27px;
  }
  p {
    font-family: 'RobotoLight', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: $white;
  }
  h4 {
    font-family: 'PlayfairDisplayRegular', Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin-bottom: 39px;
    margin-top: 20px;
    color: $white;
  }
  .icon-map:before {
    content: "\f3c5";
    font-family: 'Font Awesome 5 Free';
    margin-right: 15px;
    font-weight: 900;
    font-size: 19px;
  }
  .icon-phone:before {
    content: "\f095";
    font-family: 'Font Awesome 5 Free';
    margin-right: 10px;
    font-weight: 900;
    font-size: 17px;
  }
  .form-control {
    background: transparent;
    border-radius: 0;
    font-size: 14px;
    width: 500px;
  }
  .btn {
    padding-left: 21px;
    padding-right: 21px;
    margin-left: 10px;
    border-radius: 0;
  }
  .social_icons {
    font-size: 15px;
    line-height: 35px;
    color: white;
    i {
      border: solid 1px white;
      padding: 9px;
      border-radius: 100%;
      margin-top: 27px;
      margin-right: 8px;
      &:first-child {
        padding-left: 13px;
        padding-right: 13px;
      }
      &:nth-child(5) {
        padding-left: 6px;
      }

    }
  }
  .terms\&conditions {
    padding-top: 70px;
    a {
      text-decoration: none;
      text-transform: uppercase;
      font-family: 'PlayfairDisplayRegular', Helvetica , Arial, sans-serif;
      font-size: 14px;
      color: $white;
      margin-right: 32px;
    }
    p {
      font-family: 'PlayfairDisplayRegular', Helvetica , Arial, sans-serif;
      font-size: 14px;
      color: $white;
    }
  }
}





